@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  font-display: swap; 
  src: 
  url('../fonts/rubik-v19-latin_cyrillic-regular.woff2') format('woff2'), 
  url('../fonts/rubik-v19-latin_cyrillic-regular.woff') format('woff');
  
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: 
  url('../fonts/rubik-v19-latin_cyrillic-500.woff2') format('woff2'), 
  url('../fonts/rubik-v19-latin_cyrillic-500.woff') format('woff'); 
}

@font-face {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: 
  url('../fonts/rubik-v19-latin_cyrillic-700.woff2') format('woff2'), 
  url('../fonts/rubik-v19-latin_cyrillic-700.woff') format('woff'); 
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Rubik", "Arial", sans-serif;
}

img {
  vertical-align: middle;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.header {
  margin-bottom: 70px;
}

.container {
  width: 1200px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;   
}

.header-top {
  background-color: #F6F6F6;
  padding: 30px;
  margin-bottom: 30px;
}

.header-top-inner {
  display: flex;
  align-items: center;
}

.header-logo {
  margin-right: 35px;
}

.header-top-list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-right: auto;
}

.header-top-item {
  color: #555555;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  margin-right: 25px;
}

.header-top-item-span {
  color: #2959CE;
  font-weight: 700;
}

.main-input {
  width: 275px;
  height: 45px;
  background-color: #FFFFFF;
  border-radius: 60px;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 41px;
  margin-right: 28px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #8D8D8D;
  border: none;
}

.header-languages {
  width: 70px;
  height: 36px;
  background: #DCE6FF;
  border-radius: 39px;
  padding: 3px;
  margin-right: 25px;
}

.header-languages-link {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 30px;
  color: #A6A6A6;
} 

.active-languages {
  width: 30px;
  height: 30px;
  background: #FFFFFF;
  padding-top: 8px;
  padding-right: 7px;
  padding-bottom: 7px;
  padding-left: 7px;
  border-radius: 50%;
  color: #000000;
}

.header-login {
  background-color: #7296EC;
  border-radius: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  padding-top: 13px;
  padding-right: 20px;
  padding-bottom: 13px;
  padding-left: 20px; 
  text-decoration: none;
}

.header-login:hover {
  background-color: #FFFFFF;
  color: #00008B;
}
.header-middle {
  margin-bottom: 40px;
}

.header-middle-list {
  list-style: none;
  display: flex;
  padding-left: 0;
  border-bottom: 1px solid #D1D1D1;
  padding-bottom: 20px;
}

.header-middle-item {
  margin-right: 34.44px;
}


.last-header-item {
  margin-right: 0;
}

.header-middle-link {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #7F7F7F;
}

.header-middle-link:hover {
  color: #42fff6f1;
}

.main {
  margin-bottom: 100px;
}

.info-title {
  display: block;
  margin-bottom: 20px;
  font-style: normal;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}
.info-center {
  display: flex;
  margin-bottom: 20px;
}

.info-left {
  width: 696px;
  margin-right: 10px;
  display: flex;
}

.info-label {
  margin-bottom: 10px;
  display: inline-block;
}

.input {
  width: 343px;
  border-radius: 10px;
  background: #FFFFFF;
  border: 1px solid #00000033;
  display: inline-block;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 20px;
}

.input-bottom {
  width: 696px;
  border-radius: 10px;
  background: #FFFFFF;
  border: 1px solid #00000033;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 20px;
}

.textarea {
  width: 696px;
  height: 180px;
  border-radius: 10px;
  background: #FFFFFF;
  border: 1px solid #00000033;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 20px;
  resize: none;
  margin-bottom: 20px;
}

.submit {
  text-align: right;
}


.submit-link {
  background-color: #7297EF;
  border-radius: 10px;
  padding-top: 17px;
  padding-right: 30px;
  padding-bottom: 17px;
  padding-left: 30px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  text-decoration: none;
  border: none;
}

.submit-link:hover {
  background-color: #7FFFD4;
  color: #00008B;
}


/* :right */

.info-right {
  width: 494px;
}

.info-list {
  width: 494px;
  background: #F6F6F6;
  border-radius: 10px;
  list-style: none;
  padding-top: 40px;
  padding-right: 25px;
  padding-bottom: 40px;
  padding-left: 25px;
}

.info-item {
  border-bottom: 1px solid #D2D2D2;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.info-item:nth-child(3) {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}
.info-title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 7px;
}

.info-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}


.footer {
  background-color: #7297EF;;
}

.holder {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 101px;
}
.holder-top {
  margin-bottom: 15px;
}

.holder-middle {
  display: flex;
  border-bottom: 1px solid #cecece;
  padding-bottom: 30px;
  margin-bottom: 20px;
}

.holder-middle-text {
  width: 229px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 19px;
  color: #FFFFFF;
  margin-right: 203px;
}

.holder-list-left {
  list-style: none;
  margin-right: 100px;
}

.holder-item-left {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.holder-item-left:nth-child(4) {
  margin-bottom: 0;
}

.holder-list-right {
  list-style: none;
}

.holder-item-right {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.holder-item-right:nth-child(3) {
  margin-bottom: 0;
}

.holder-bottom {
  display: flex;
  justify-content: space-between;
  
  
}

.footer-tittle {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  margin-right: 662px;
}

.holder-bottom-list {
  display: flex;
  list-style: none;
}

.holder-bottom-item {
  margin-right: 25px;
}

.holder-bottom-item:nth-child(4) {
  margin-right: 0;
}
